.container {
  padding: 20px;
}
.heading {
  color: rgb(249, 115, 22);
  text-transform: uppercase;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (min-width: 900px) {
  .movie-card {
    flex: 1 0 calc(17% - 20px);
    margin: 10px;
  }
}

@media (max-width: 900px) {
  .movie-card {
    width: calc(100% / 3);
  }
}

@media (max-width: 600px) {
  .movie-card {
    width: calc(100% / 2);
  }
}

@media (max-width: 400px) {
  .movie-card {
    width: 100%;
  }
}
