.container {
  padding: 20px;
}
.heading {
  color: rgb(249, 115, 22);
  text-transform: uppercase;
}

.movie-list,
.tvshow-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (min-width: 900px) {
  .movie-card,
  .tvshow-card {
    flex: 1 0 calc(17% - 20px);
    margin: 10px;
  }
}

@media (max-width: 900px) {
  .movie-card,
  .tvshow-card {
    width: calc(100% / 3);
  }
}

@media (max-width: 600px) {
  .movie-card,
  .tvshow-card {
    width: calc(100% / 2);
  }
}

@media (max-width: 400px) {
  .movie-card,
  .tvshow-card {
    width: 100%;
  }
}

/* movie details page  */

.movie-details {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  font-size: 18px;
  color: white;
}

.movie-details img {
  max-width: 300px;
  margin-right: 20px;
}

.movie-details h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.movie-details h2 {
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.movie-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.movie-details ul li {
  margin-bottom: 5px;
}

.cast {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cast div {
  margin-right: 20px;
  text-align: center;
}

.cast img {
  max-width: 200px;
  border-radius: 2%;
}

.images img {
  max-width: 500px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(31, 41, 55);
  width: 100%;
  box-sizing: border-box;
}
.role {
  color: grey;
  font-size: 0.8em;
}

.details {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.left-side {
  flex: 0;
}

.right-side {
  flex: 1;
  padding: 0px 20px 20px 20px;
}
.info-line {
  display: flex;
  justify-content: start;
  gap: 10px;
  color: grey;
}

.star-rating,
.release-date,
.genres,
.separator {
  font-size: 0.9em;
}
.orange-star {
  color: rgb(249, 115, 22);
  font-size: 0.9em;
}
.crew-line {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}

.crew-member {
  font-size: 0.9em;
}

.crew-role {
  display: block;
  color: grey;
  font-size: 0.7em;
}
.overview-text {
  color: darkgrey;
}
.movie-title {
  margin: 0;
  padding: 0;
}
.movie-img,
.cast-img {
  transition: opacity 0.3s ease;
  opacity: 1;
}

.movie-img:hover,
.cast-img:hover {
  opacity: 0.7;
}
.section.images {
  border-bottom: none;
}
@media (max-width: 768px) {
  .section.details {
    flex-direction: column;
  }
}
